/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colores */
:root{
    --azul: #2d57ff;
    --rojo: #ff3030;
    --blanco: #f3f3f3;
    --negro: #000;
    --gris: #2b2b2b;
    --gris-suave: #f3f3f3;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--negro);
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../IMG/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

/* Sección menú */

header{
    position: fixed;
    background-color: var(--negro);
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    z-index: 2;
}

header p{
    color: var(--blanco);
}

header p, span{
    cursor: default;
}

span{
    color: var(--rojo);
}

.menu{
    display: flex;
    justify-content: center;
    padding: 0 5%;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: var(--blanco);
}

.items{
    margin: 0 24px;
    font-weight: 400;
    font-size: 18px;
    color: var(--blanco);
    cursor: pointer;
}

.items:hover{
    color: var(--rojo);
    transition: color ease 0.7s;
}

#menu{
    display: none;
}

#menu-icon{
    height: 25px;
}

label{
    cursor: pointer;
    display: none;
}

.btn {
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--rojo);
    color: var(--blanco); /* Asegúrate de que el color del texto sea visible en el fondo rojo */
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.7s ease, color 0.7s ease; /* Añade la transición para el fondo y el color del texto */
}

.btn:hover {
    background-color: var(--blanco);
    color: var(--rojo);
}

/* Fin sección menú */

/* Sección principal */

.main-container{
    width: 90%;
    background-color: var(--gris-suave);
    margin: 60px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main{
    margin-top: 0 auto;
    padding: 0 10%;
    max-width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 10%;
}

.main img{
    width: 80%;
    border-radius: 50%;
    border: 0.1em solid var(--rojo);
}

.button-cv{
    padding: 10px;
    margin: 1% 0;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-color: var(--rojo);
    font-weight: 400;
    -webkit-box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
    box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
}

.button-cv:hover{
    background-color: var(--blanco);
    transition: background-color ease 0.7s;
}

/* Fin sección principal */

/* Sección about */

.grid-container{
    width: 90%;
    max-width: 90%;
    height: 90%;
    padding: 0 10%;
    background-color: var(--gris-suave);
    border: .1em solid var(--gris-suave);
    border-radius: 30px;
    color: var(--negro);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    -webkit-box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
    box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%; /* Cambiado de 100vw a 100% */
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Asegura que no haya desbordamiento horizontal */
}

.about img {
    grid-column: 1/2;
    grid-row: 1/1;
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.about-info {
    grid-column: 2/2;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: var(--rojo);
}

.divider {
    position: relative;
    width: 100%; /* Asegura que el contenedor no cause desbordamiento */
    height: 1em; /* Ajusta la altura según sea necesario */
}

.divider::before {
    content: '';
    position: absolute;
    top: 50%; /* Centra verticalmente */
    width: 50%; /* La mitad del ancho del contenedor */
    border-top: 0.1em solid var(--rojo); /* Define el borde */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente */
    z-index: 1;
}

/* Fin sección about */

/* Sección portafolio */

#section_portfolio{
    width: 100%;
    background-color: var(--gris-suave);
    margin: 1em auto;
}

#section_portfolio h3{
    padding: .1em;
    margin: 0 auto;
    font-weight: 900;
    font-size: 2em; /* Increase the font size */
}

.title__portfolio{
    display: flex;
    flex-direction: column-reverse;
    margin: 1em auto;
    padding: 1em 1em;
    font-size: 600;
}

.container-cards__portfolio{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card_bg{
    color: var(--blanco);
    width: 100%;
}

.card__footer{
    display: flex;
    justify-content: center;
}

.card__footer button{
    /* Visual */
    margin: .3em;
    padding: .3em;
    border-radius: 30px;
    border: none;
    background: var(--rojo);
    cursor: pointer;
    /* shadow box */
    -webkit-box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
    box-shadow: 5px 7px 16px 3px rgba(0,0,0,0.44);
}

.card__footer button:hover{
    background-color: transparent;
    transition: ease .7s;
}

.card__portfolio {
    width: fit-content;
    border-radius: 30px;
    padding: 1px;
    margin: 2em;
    -webkit-box-shadow: 1px 1px 19px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 19px 5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 19px 5px rgba(0,0,0,0.75);
    overflow: hidden; /* Ensure the background image respects the border radius */
}

.card_bg {
    width: 100%;
    height: 100%; /* Ensure the background image fills the card */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0 0; /* Apply border radius to the background image */
    padding: 1em;
}

.content_card_1{
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../IMG/wallpaper\ \(1\).jpg);
}

.content_card_2{
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../IMG/wallpaper\ \(2\).jpg);
}

.content_card_3{
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../IMG/wallpaper\ \(3\).jpg);
}


/* Fin sección portafolio */

/* Inicio sección formulario */

#contact_section{
    width: 100%;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_headings{
    padding: 1em 0;
}

.contact-form{
    /* Visual */
    width: 50%;
}

.camp-form{
    padding: 1em;
}

.camp-form input, textarea{
    width: 100%;
    border: none;
    border-bottom: 2px var(--rojo) solid;
    background-color: transparent;
}

.btn-contact{
    width: 100%;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

/* Fin sección formulario */

/* Inicio footer */

#footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--negro);
}

.footer-content{
    color: var(--blanco);
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content h2{
    font-size: 2em;
}

.footer-content h5{
    font-size: .8em;
    font-weight: 100;
}

.social-network{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.social-network i{
    color: var(--blanco);
    cursor: pointer;
}

.social-network i:hover{
    color: var(--rojo);
    transition: color ease .8s;
}

.footer-copyright{
    color: var(--blanco);
}

/* Media queries */

@media screen and (max-width: 768px){
    .menu{
        padding: 30px;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .main{
        padding: 60px 60px;
        margin: 60px 60px;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .main img{
        width: 50%;
        margin: 1em;
    }

    label{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--gris);
        display: none;
    }

    .items{
        margin: 0 0 24px 0;
        width: 100%;
    }

    .btn{
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }
}